/* News.css */
.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .news-item {
    display: flex;
    flex-direction: column;
    align-items: buttom;
    height: auto;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
  }
  
  .news-item img {
    max-width: 100%;
    height: auto;
  }
  
  .news-item h3 {
    margin-top: 10px;
  }
  
  .news-item p {
    margin-top: 5px;
  }
  
  .news-item a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  @media (max-width: 767px) {
    .news-container {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }
  
  
  
    