@keyframes vanishOutAnimation {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.1);
    }
  }
  
  .research-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gainsboro; /* رنگ طوسی */
    padding-top: 10px;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* تنظیم ستون در وسط و به سمت چپ */
  }
  
  .icon {
    width: 10%; /* تنظیم اندازه عکس به یک دهم اندازه اصلی */
    margin-top: 20px; افزودن فاصله بین ستون‌ها و ایکون
  }
  

  .link-secondary {
    color: #a52a2a; /* رنگ متن لینک طوسی */
  }
  
  .research-button {
    background-color: #000; /* رنگ دکمه سیاه */
    color: #fff; /* رنگ متن دکمه سفید */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .research-button:hover {
    background-color: #333; /* رنگ دکمه در حال hover */
  }
  